[submodule "pack/dvim/start/ultisnips"]
	path = pack/dvim/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/dvim/start/vim-snippets"]
	path = pack/dvim/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/dvim/start/delimitMate"]
	path = pack/dvim/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/dvim-tex/start/vimtex"]
	path = pack/dvim-tex/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/dvim-lsp/start/lsp"]
	path = pack/dvim-lsp/opt/lsp
	url = https://github.com/yegappan/lsp.git
[submodule "pack/dvim/start/vim-easy-align"]
	path = pack/dvim/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
